<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Onkyo touch probe" android:allowBackup="false" android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".ProbeHostActivity" android:exported="false" />
        <receiver android:name=".ProbeProvider" android:exported="false">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/probe_widget" />
        </receiver>
        <receiver android:name=".ProbeReceiver" android:exported="false" />
    </application>
</manifest>
